<%= form_with(model: [ post, post.comments.build ], remote: true, :html => {:class => 'comment_form'}) do |form| %>
	<hr>
  <div class="form-group">
        <%= form.hidden_field :user_id, value: current_user.id %>
    </div>
    <div class="form-group">
		<%= form.hidden_field :post_id, value: post.id %>
    </div>
    <div class="form-group">
        <%= form.text_field :content, class: "form-control", placeholder: "comment ... ", autocomplete: :off %>
    </div>
<% end %>
