<div class="user">
    <%= link_to user_path(post.user) do %>
        <div class="avatar">
	        <% if post.user.avatar.attached? %>
                <%= image_tag post.user.avatar %>
            <% else%>
		        <img src="https://static.thenounproject.com/png/17241-200.png" alt="">
	        <% end %>
	    </div>
        <span>
            <%= link_to post.user.name, user_path(post.user), class: 'username' %>
        </span>
    <% end %>
    <% if current_user.posts.exists?(post.id) %>
        <%= link_to  post_path(post), class:"delete_btn ml-auto", method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash fa-lg"></i>
        <% end %>
    <% end %>
</div>