<section class="post">
  <%# User infor area %>
    <%= render 'users/simple_infor', post: post%>
  <%# End user infor area %>

  <%# post content  %>
	<div class="post_content">
		<%= render 'posts/image', post: post%>
    <%= render 'posts/description', post: post%>
  <div>
  <%# end post content  %>
  
  <%# comment area %>
  <div class="comment">
		
    <%# list comment %>
    <div class="comment_list" id = "comment_list_post_<%= post.id %>">
			<% post.comments.each do |comment| %>
    		<%= render 'comments/comment' , comment: comment %>
			<% end %>
		</div>
		<%# end list comment %>

    <%# upload comment %>
    <div class="upload_comment">
			<%= render 'comments/form', post: post %>
		</div>
    <%# end upload comment %>
    						
  <%# end comment	 area %>
</section>