<%= form_for Post.new do |f| %>
  <div class="form-group">
    <%= f.text_field :user_id, value: current_user.id, class: 'd-none ' %>
  </div>
  
  <div class="form-group choose_file custom-file ">
    <%= f.file_field :image , class: "custom-file-input" %>
    <label class="custom-file-label" for="customFile">Choose file</label>
  </div>
  <div class="preview">
    <img src="" alt="">
  </div>
  <div class="form-group ">
    <%= f.text_area :description,placeholder: "How are you today  ..." %>
  </div>
  <div class="up_post">
    <%= f.submit 'Create Post', class: 'btn btn-primary ' %>
  </div>
<% end %>

<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      
      $('.preview').css('display', 'block');
      
      reader.onload = function (e) {
        $('.preview img').attr('src', e.target.result);
      }

      reader.readAsDataURL(input.files[0]);
    }
  }

  $(".custom-file-input").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });

  $(".custom-file-input").change(function () {
    readURL(this);
  });
</script>