<div class="homepage">
	<% if user_signed_in? %>
		<div class='form-upload'>
			<%= render 'upload_form' %>
		</div>
		<div class="posts">
			<% @posts.each do |post| %>
				<%# per post %>
				<%# <div class="post"> %>
					<%= render 'post', post: post %>
				<%# </div> %>
				<%# end per post %>
			<% end %>
			<%= paginate @posts %>
		</div>
	<% else %>
		<%# <%= render 'sessions/new', resource: new_user_session_path %>
		<script>
			location.replace("<%= new_user_session_path %>");
		</script>
	<% end %>
</div>






