<div class="image">
    <div class="image_area">
		<%= link_to post_path(post) do %>
		  <%= image_tag post.image, class: 'main-image' %>
		<% end %>
    </div>
    <div class = "like_area">
        <div class= "core-sprite love hide-text" >
        </div>
        
        <div class= "core-sprite comment_icon hide-text ">
        </div>

        <div class="core-sprite bookmark hide-text"> </div>
    </div>
</div>
<hr class="style1">