<div class="post-show row">
  
  <div class="col-md-8">
    <%=image_tag @post.image, class: 'image' %>
  </div>

  <div class="col-md-4">
    
    <%# User infor area %>
    <%= render 'users/simple_infor', post: @post%>
    <%# End user infor area %>
    
    <%# description area %>
    <%# <div class="description"> %>
      <%= render partial: "description", locals: {post: @post} %>
    <%# </div> %>
    <%# end description area %>

    <div class="comment">
      <%# comment list %>
      <div class="comment_list" id = "comment_list_post_<%= @post.id %>">
			  <% @post.comments.each do |comment| %>
    		  <%= render 'comments/comment' , comment: comment %>
			  <% end %>
		  </div>
      <%# end comment list %>

      <%# upload comment %>
      <div class="upload_comment">
			  <%= render 'comments/form', post: @post %>
		  </div>
      <%# end upload comment %>
    </div>
  
  </div>

</div>
