@import "bootstrap";
@import "font-awesome";
@import "users";
@import "posts";
@import "comments";

*{
  font-family: "sans-serif";
  a:hover{
    text-decoration: none;
  }
}

.container{
  max-width: 1000px;
}

.navbar{
  border-bottom: 1px solid rgba(0,0,0,.0975);
}
.user-section{
  a{
    padding-left: 15px;
  }
  i.fa{
    font-size: 22px;
    color: #000000d4;
  }
}
.search-form{
  input{
    font-size: 13px;
    text-align: center;
  }
}
.footer{
  font-size: 12px;
  padding-top: 30px;
  ul{
    padding-left: 0;
    > li{
      display: inline;
      padding-right: 15px;
      color: #003569;
    }
  }
  p{
    color: #999;
  }
}

.search-page{
  h1{
    font-size: 24px;
    padding: 25px 0 0 30px;
  }
}



.core-sprite {
  display: inline-block !important;
  background-image: image-url("core-sprite-2x.png");
  background-size: 405px 379px;
  background-repeat: no-repeat;
}

.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.love {
  background-position: -325px -329px;
  height: 24px;
  width: 24px;
}


.bookmark {
  @extend .love;
  background-position: -150px -355px;
  float: right;
}

.loved {
  @extend .love;
  background-position: -200px -330px;
}

.bookmarked {
  @extend .love;
  background-position: -353px -273px;
}

.comment_icon {
  @extend .love;
  background-position: -258px -175px;
  margin-left: 8px;
}