// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comment_detail{
    display: block;
    a{
        color: black;
    }
    a:hover{
        inline: none;
    }

    .icon_area{
        float: right;
    }
}

.comment_form{
    margin-top: 3px;
   input[type = text]{
       border: none;
   }
}

.comment{
    padding: 0 10px;
}