.homepage{
  .form-upload{
    border: 1px solid #dbdbdb;
    height: auto;
    margin: 30px 180px;
    padding: 30px;
    border-radius: 3px;

    textarea{
      width: 100%;
      height: 50px;
      border: none;
      padding: 5px 10px;
      font-family: arial;
      resize: none;
      outline: none;
      border-bottom: 2px solid #0077CC;
    }
    .preview {
      margin-top: 5px;
      width: 100%;
      padding: 10px;
      display: none;
    }
    .preview img{
      width: 30%;
      height: auto;
    }
    .choose_file{
      margin: 10px;
    }
    .up_post{

    }

  }

  .posts{
    margin: 50px 180px 10px;
    .post{
      border: 1px solid #dbdbdb;
      margin: 60px 0;
      border-radius: 3px;
      .user{
        border-bottom: 1px solid #efefef;
        display: flex;
        .avatar{
          width: 30px;
          height: 30px;
          margin: 8px;

          img{
            width: 100%;
            height: 100%;
            border: 1px solid #efefef;
            border-radius: 50%;
          }
        }
        .username{
          padding-top: 13px;
          color: #262626;
          font-size: 14px;
          font-weight: 600;
          &:hover{
            text-decoration: none;
          }
        }
      }

      .main-image{
        width: 100%;
        border-bottom: 1px solid #efefef;
      }
      
    }
  }

  .pagination{
    span{
      padding-right: 10px;
    }
  }
}

.post-show{
  margin: 30px 5px 0;
  border: 1px solid #dbdbdb;

  .col-md-8{
    padding: 0;
    .image{
      width: 100%;
    }
  }

  .user{
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #efefef;

    .avatar{
      width: 40px;
      height: 40px;
      margin: 8px;
      img{
        width: 100%;
        height: 100%;
        border: 1px solid #efefef;
        border-radius: 50%;
      }
    }
    .username{
      padding-top: 15px;
      color: #262626;
      font-size: 14px;
      font-weight: 600;
      &:hover{
        text-decoration: none;
      }
    }
  }

  .delete_btn{
    color: black;
  }
}


.description{
  padding: 0px 10px 10px 10px;
}

.image{
  .like_area{
    padding: 10px 10px 0px 10px;
  }
}