.profile .avatar{
  .wrapper{
    width: 140px;
    height: 140px;
    margin: 40px auto;
  }
  .wrapper img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.profile .basic-info{
  padding: 40px 0;
  .user-wrapper{
    display: flex;
  }
  .username{
    font-size: 30px;
    line-height: 40px;
    font-weight: 200;
  }
  .edit-profile{
    margin-left: 20px;
    margin-top: 5px;
  }
  .edit-profile button{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    color: #262626;
    font-size: 14px;
    padding: 4px 10px;
    font-weight: 500;
  }
      .log-out{
    margin-left: 40px;
    margin-top: 5px;
    }
    .log-out button{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    color: #262626;
    font-size: 14px;
    padding: 4px 10px;
    font-weight: 500;
  }
  ul.posts{
    padding-left: 0;
    > li{
      display: inline;
      padding-right: 40px;
      font-size: 15px;
      span{
        color: #262626;
        font-weight: 600;
      }
    }
  }
  .name{
    font-size: 15px;
    font-weight: 600;
  }
  .website{
    color: #003569;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
  }
}

.user-tabs{
  border-top: 1px solid #efefef;
  display: flex;
  justify-content: center;

  a.tab{
    height: 35px;
    margin-right: 50px;
    line-height: 45px;
    color: #999;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    i{
      padding-right: 1px;
    }
    &:hover{
      text-decoration: none;
    }
  }
  a.active{
    border-top: 1px solid #262626;
    color: #262626;
  }
}

.user-images{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 20px;

  .wrapper{
    width: 280px;
    height: 280px;
    margin: 15px;

    img{
      width: 100%;
      border-radius: 4%;
      width: 278px;
      height: 278px;
      object-fit: cover;
      border: 1px solid #efefef;
    }
  }
}

/*  Edit Profile page */
.user-edit-page{
  display: flex;
  margin-top: 60px;
  min-height: 500px;

  .actions{
    width: 220px;
    border: 1px solid #dbdbdb;

    .nav-link{
      font-size: 14px;
      background-color: white;
      color: black;
      border-radius: 0;
      padding: 12px 0 12px 30px;
      &:hover{
        cursor: pointer;
      }
    }
    .nav-pills .nav-link.active{
      border-left: 2px solid;
      font-weight: 600;
    }
  }
  .details{
    flex: 1;
    border: 1px solid #dbdbdb;
    border-left:none;
  }
}

/* Form Edit User */
.form-edit-user{
  padding: 30px 100px 10px 50px;

  .form-group, input{
    font-size: 14px;
    color: black;
  }
  input, textarea{
    border: 1px solid #efefef;
  }
  .col-form-label{
    text-align: right;
    font-weight: 600;
  }

  .avatar{
    height: 38px;
    width: 38px;
    border-radius: 50%;
  }
  .username{
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 0;
  }
  .change-photo{
    color: #3897f0;
    text-decoration: none;
    font-size: 13px;
  }
  input[type='submit']{
    color: white;
  }
}

.delete_btn{
  margin-top: 10px;
  margin-right: 10px;
  color: rgb(65, 62, 62);
}